* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1C1C1C;
}

.karla-font {
    font-family: 'Karla', sans-serif;
    font-style: normal;
}

.inter-font {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}